@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Hello world</title>
    </head>
    <body>
        <div>
             This is an MVC view running in a webforms app!
        </div>
    </body>
</html>