@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Hello world</title>
        <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="~/Scripts/Demo.js"></script>
    </head>
    <body>
        <div>
            This is an MVC view running in a webforms app!
        </div>
        
        <button id="btnLoadHtml">Load person HTML from MVC</button>
        
        <div id="personDetails"></div>
        
        <button id="btnLoadPersonData">Load the person data and bind</button>
        
        <button id="btnLoadFromWcfService">Load a type from a controller with an injected service</button>

    </body>
</html>